@if (somethingBadHappened)
{
	<p class="my-2">Something bad happened... check it out:</p>
	<code class="alert alert-danger">@error</code>
}

@code {
	[Parameter] public bool somethingBadHappened { get; set; }
	[Parameter] public string? error { get; set; }
}
